.defaultCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.topCenter {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}

.leftCenter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.rightCenter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}

.bottomCenter {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
}